<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Weebsly_Productcustomoptions>
			<version>1.0.0</version>
		</Weebsly_Productcustomoptions>
	</modules>
	<global>
		<blocks>
			<adminhtml>
				<rewrite>
					<catalog_product_edit_tab_options_type_select>Weebsly_Productcustomoptions_Block_Adminhtml_Rewrite_Catalog_Product_Edit_Type_Select</catalog_product_edit_tab_options_type_select>
					<catalog_product_edit_tab_options_option>Weebsly_Productcustomoptions_Block_Adminhtml_Rewrite_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
				</rewrite>
			</adminhtml>
			<productcustomoptions>
				<class>Weebsly_Productcustomoptions_Block</class>
			</productcustomoptions>
		</blocks>
		<resources>
			<weebsly_productcustomoptions_setup>
				<setup>
					<module>Weebsly_Productcustomoptions</module>
				</setup>
			</weebsly_productcustomoptions_setup>
		</resources>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<productcustomoptions before="Mage_Adminhtml">Weebsly_Productcustomoptions_Adminhtml</productcustomoptions>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
</config>