<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Weebsly_Catalog>
			<version>0.0.1</version>
		</Weebsly_Catalog>
	</modules>
	<global>
		<blocks>
			<catalog>
				<rewrite>
					<product>Weebsly_Catalog_Block_Product</product>
				</rewrite>
			</catalog>
		</blocks>
	</global>
</config>