<config>
    <modules>
        <Weebsly_Customconfig>
            <version>0.0.1</version>
        </Weebsly_Customconfig>
    </modules>
    <frontend>
            <routers>
                <customconfig>
                    <use>standard</use>
                    <args>
                        <module>Weebsly_Customconfig</module>
                        <frontName>customconfig</frontName>
                    </args>
                </customconfig>
            </routers>
        </frontend>
    <global>
        <helpers>
            <customconfig>
                <class>Weebsly_Customconfig_Helper</class>
            </customconfig>
        </helpers>
        <models>
             <customconfig>
                <class>Weebsly_Customconfig_Model</class>
             </customconfig>
        </models>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <customconfig_options>
                                            <title>Custom Configuration Section</title>
                                        </customconfig_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>